doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title zoomclone
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1 zoomclone
        main
            div#welcome
                form 
                    input(placeholder="Room name", requrired, type="text")
                    button Enter Room
            div#room
                h3
                ul 
                form
                    input(placeholder="Message", requrired, type="text")
                    button Send
           
        //-socket.io의 재연결 기능 등 들어있는 코드
        script(src="/socket.io/socket.io.js")
        //-script로 js import하려면 static작업 필요
        script(src="/public/js/app.js") 